h4,h2{
	color:blue;
	border-color: light green;
	border-width:5px;
	border-style: solid;
	border:5px solid green;
	padding: 10px 10px 20px 40px;
}

li
{
	color: tomato
}

body
{
	background:url("image.png");

	/*background-repeat: no-repeat;*/
}

span
{
	font-size: 2em;
	text-decoration: underline;

}

#Address
{
	color: cyan;
	line-height:1;
	margin-top: 600px 200px 220px 400px;
} 

.vertical

{
	width:100px;
	height:100px;
}

.horizontal
{
width:100px;
height: 100px;

}