

/*Tic tac toe*/
/*.vertical
{
	
	border-left:1px solid black;
	border-right:1px solid black;
}

.horizontal
{
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

td
{
	width:100px;
	height: 100px;
}

h4
{
	text-align:center;
	text-transform:uppercase;
	font-weight:800;
}

table
{
	margin: auto;
}*/






/*Article example*/

body
{
	border:6px #bdc3c7 solid;
	padding-top:40px
	padding-left:20px;
	margin-top: 20px;
	margin-left:240px;
	margin-right:240px;

	}

.DateColor
{
	text-transform: uppercase;
	color: #3498db;
	padding-left: 20px;
	letter-spacing: .4rem;
}
 
h2
 {
 	padding-left: 20px;
 }

.line p
{
	padding-left:20px;
	border-left: 5px solid gray;
}
hr
{
	border-radius: 10px;
	border-style: light solid;
	
}
